@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pacifico;
  src: url('../../public/Pacifico-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pacifico, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --primary-bg: 'white';
  --primary-border: #202020;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #202020;

    --primary-bg: #202020;
    --primary-border: #313131;
  }
}

.perspective {
  perspective: 200px;
}

.perspective > * {
  transform: rotateX(2deg) translateZ(-100px);
  transform-style: preserve-3d;
}

@media (orientation: portrait) {
  body {
    background-color: rgb(54 83 20);
  }

  .perspective {
    perspective: none;
  }
}

@media (pointer: coarse) {
  body {
    background-color: rgb(54 83 20);
  }

  .coarse-opacity {
    opacity: 1;
  }

  .board {
    border: none;
  }

  .perspective {
    perspective: none;
  }
}
